<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8" />
    <title>{% block title%}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}" />
    <link rel="stylesheet" href="{% static "css/lib/bootstrap.min.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
