<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8" />
    <title>{% block title%}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}" />
    <link rel="stylesheet" href="{% static "css/lib/bootstrap.min.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <script>
        var fechainicio = new Date("{{event.start_date}}");
        var fechafinal = new Date("{{event.end_date}}");
        var diasDif = fechafinal.getTime() - fechainicio.getTime();
        var dias = Math.round(diasDif/(1000 * 60 * 60 * 24));
    </script>
    <script src="{% static "js/home.js" %}"></script>
    {% block body %}{% endblock %}
</body>
</html>
