<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Fondeo</title>
    <link rel="stylesheet" href="css/vendors/normalize.css"/>
    <link rel="stylesheet" href="css/estilos.css"/>
  </head>
  <body>
    <div id="wrap">
      <h1>​Inversión:</h1>
      <section>
        <div class="col-2 text-left"><img src="img/game.jpg" alt=""/></div>
        <div class="col-2 text-left">
          <p>¡Gracias estamos a 1000 créditos más cerca de nuestra fiesta!</p>
          <p>¡Te mandaremos una TShirt de la fiesta!</p><span class="juntadoText">Ha juntado:</span><span class="juntadoCount">49,160 Créditos</span><span class="juntadoText-col"> 
            <div class="juntadoText">Necesita:</div>
            <div class="juntadoTextBig">60,000 créditos</div></span><span class="juntadoText-col-last">1 día restante</span>
        </div>
        <div class="col-2 aportacionCol"><span class="aportacion">Aportación</span>
          <div class="creditosAportados">1800 </div>
          <div class="creditosSubText">Créditos</div>
        </div>
        <div class="col-2 text-left">
          <h2>Recompensas</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eos velit et corrupti amet debitis magnam nulla, alias, reprehenderit excepturi impedit, fuga ipsa porro totam provident, consequatur dolorum quos. Saepe.</p>
        </div>
      </section><a href="p3.html" class="btn-main btn-spaceTop btn-alignLeft">Pagar</a>
    </div>
  </body>
</html>