{% extends "base.html" %}

{% block title %}Event Starter{% endblock %}

{% block body %}
	<section>
		<header>
        <nav>
            <ul class="container">
                <li>
                    <a href=""> Cerrar sesion </a> |
                </li>
                <li>
                    <a href=""> Perfil</a>  |
                </li>
            </ul>
        </nav>
	</section>
	<section class=container>
        <article>
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h4>Rock & ROll Party</h4>
                <p>Esta fiesta va a estar bien chingona, todos los de dev.f van a ir y no te la puedes perder</p>
            </div>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <h5>Polanco D.F.</h5>
            </div>
            <div class = "Progress">
                <div></div>
            </div>
            <div>
                <div>
                    <h5>$2,150</h5>
                    <h6>Recaudado</h6>
                </div>
                <div>
                    <h5>$10,000</h5>
                    <h6>Meta</h6>
                </div>
                <div>
                    <h5>10</h5>
                    <h6>Días restantes</h6>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h4>Rock & ROll Party</h4>
                <p>Esta fiesta va a estar bien chingona, todos los de dev.f van a ir y no te la puedes perder</p>
            </div>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <h5>Polanco D.F.</h5>
            </div>
            <div class = "Progress">
                <div></div>
            </div>
            <div>
                <div>
                    <h5>$2,150</h5>
                    <h6>Recaudado</h6>
                </div>
                <div>
                    <h5>$10,000</h5>
                    <h6>Meta</h6>
                </div>
                <div>
                    <h5>10</h5>
                    <h6>Días restantes</h6>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h4>Rock & ROll Party</h4>
                <p>Esta fiesta va a estar bien chingona, todos los de dev.f van a ir y no te la puedes perder</p>
            </div>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <h5>Polanco D.F.</h5>
            </div>
            <div class = "Progress">
                <div></div>
            </div>
            <div>
                <div>
                    <h5>$2,150</h5>
                    <h6>Recaudado</h6>
                </div>
                <div>
                    <h5>$10,000</h5>
                    <h6>Meta</h6>
                </div>
                <div>
                    <h5>10</h5>
                    <h6>Días restantes</h6>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h4>Rock & ROll Party</h4>
                <p>Esta fiesta va a estar bien chingona, todos los de dev.f van a ir y no te la puedes perder</p>
            </div>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <h5>Polanco D.F.</h5>
            </div>
            <div class = "Progress">
                <div></div>
            </div>
            <div>
                <div>
                    <h5>$2,150</h5>
                    <h6>Recaudado</h6>
                </div>
                <div>
                    <h5>$10,000</h5>
                    <h6>Meta</h6>
                </div>
                <div>
                    <h5>10</h5>
                    <h6>Días restantes</h6>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h4>Rock & ROll Party</h4>
                <p>Esta fiesta va a estar bien chingona, todos los de dev.f van a ir y no te la puedes perder</p>
            </div>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <h5>Polanco D.F.</h5>
            </div>
            <div class = "Progress">
                <div></div>
            </div>
            <div>
                <div>
                    <h5>$2,150</h5>
                    <h6>Recaudado</h6>
                </div>
                <div>
                    <h5>$10,000</h5>
                    <h6>Meta</h6>
                </div>
                <div>
                    <h5>10</h5>
                    <h6>Días restantes</h6>
                </div>
            </div>
        </article>
        <article>
            <figure>
                <img src="" alt="">
            </figure>
            <div>
                <h4>Rock & ROll Party</h4>
                <p>Esta fiesta va a estar bien chingona, todos los de dev.f van a ir y no te la puedes perder</p>
            </div>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <h5>Polanco D.F.</h5>
            </div>
            <div class = "Progress">
                <div></div>
            </div>
            <div>
                <div>
                    <h5>$2,150</h5>
                    <h6>Recaudado</h6>
                </div>
                <div>
                    <h5>$10,000</h5>
                    <h6>Meta</h6>
                </div>
                <div>
                    <h5>10</h5>
                    <h6>Días restantes</h6>
                </div>
            </div>
        </article>
    </section>
	<footer>
		
	</footer>
{% endblock %}