  {% extends "base.html" %}
  {% block title %}Event{% endblock %}
  {% load static from staticfiles %}
  {% block stylesheet %}

  <link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
  
{% endblock stylesheet %}

{% block body %}

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Fondeo</title>
    <link rel="stylesheet" href="css/vendors/normalize.css"/>
    <link rel="stylesheet" href="css/estilos.css"/>
  </head>
  <body>
    <div id="wrap">
      <h1>¡Quiero fondear el evento!</h1>
      <p>Estás a unos clicks de ser uno de los anfitriones del evento</p>
      <hr/>
      <section>
      
        <form>
          <div class="col-2">
            <p>Tú decides cuanto invertir</p>
            <input val="1500" class="creditosAdd"/>
            <p>Créditos</p>
          </div>
          <div class="col-2"><img src="{{ event.photo }}" alt=""></div><span class="or"> 
            <p> <span>o</span></p></span>
          <h2>Selecciona tu recompensa:</h2>

          {% for tier in tier.all %}
          <div class="item-fondeo">
            <div class="radio"> 
              <input type="radio" name="apoyo" value="{{tier.price}}"/>
              <p>{{tier.price}}</p>
            </div>
            <div class="info">
              <p>{{tier.description}}</p>
            </div>
          </div>
          {%endfor%}
          <div class="item-fondeo">
          </div><a onclick="location.href = 'http://127.0.0.1:8000/events/1/fund/confirm';" class="btn-main btn-spaceTop btn-alignLeft">Continuar</a>
        </form>
      </section>
    </div>
  </body>
</html>
{% endblock %}