<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Fondeo</title>
    <link rel="stylesheet" href="css/vendors/normalize.css"/>
    <link rel="stylesheet" href="css/estilos.css"/>
  </head>
  <body>
    <div id="wrap">
      <h1>¡Quiero fondear el evento!</h1>
      <p>Estás a unos clicks de ser uno de los anfitriones del evento</p>
      <hr/>
      <section>
        <form>
          <div class="col-2">
            <p>Tú decides cuanto invertir</p>
            <input val="1500" class="creditosAdd"/>
            <p>Créditos</p>
          </div>
          <div class="col-2"><img src="img/game.jpg" alt=""/></div><span class="or"> 
            <p> <span>o</span></p></span>
          <h2>Selecciona tu recompensa:</h2>
          <div class="item-fondeo">
            <div class="radio"> 
              <input type="radio" name="apoyo" value="100 créditos"/>
              <p>100 créditos</p>
            </div>
            <div class="info">
              <p>¡Gracias te mandaremos una TShirt de la fiesta!</p>
            </div>
          </div>
          <div class="item-fondeo">
            <div class="radio"> 
              <input type="radio" name="apoyo" value="100 créditos"/>
              <p>550 créditos</p>
            </div>
            <div class="info">
              <p>¡Muchas Gracias por tu apoyo! Te mandaremos una TShirt y podrás ir al coktail de bienvenida</p>
            </div>
          </div>
          <div class="item-fondeo">
            <div class="radio"> 
              <input type="radio" name="apoyo" value="100 créditos"/>
              <p>1000 créditos</p>
            </div>
            <div class="info">
              <p> ¡Eres increíble! Te daremos una TShirt de "Game of Thrones", irás al coktail y te daremos todo un outfit :)</p>
            </div>
          </div><a href="p2.html" class="btn-main btn-spaceTop btn-alignLeft">Continuar</a>
        </form>
      </section>
    </div>
  </body>
</html>