{% extends "base.html" %}

{% block title %}Event Starter{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <p>
            Welcome back {{ user.first_name }}! |
            <a href="/logout">Logout</a>
        </p>
        <p>
            <a href="{% url 'userprofiles:profile' user.username %}">
                Go to my profile
            </a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            Enter with Facebook
            </a>
        </p>
    {% endif %}
    <h3>Evento</h3>
    {% for event in events %}
        <p>{{ event }}</p>
    {% endfor %}

    <h3>top</h3>
    {% for top_score in top_scores %}
        <p>{{ top_score.score }}</p>
    {% endfor %}
{% endblock %}