<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Event Starter</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>
            Welcome back {{ user.first_name }}! |
            <a href="/logout">Logout</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
            Enter with Twitter
            </a>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            Enter with Facebook
            </a>
        </p>
    {% endif %}
</body>
</html>