{% extends "base.html" %}

{% block title %}Event Starter{% endblock %}
{% load static from staticfiles %}
{% block body %}
    <!--{% if user.is_authenticated %}
        <p>
            Welcome back {{ user.first_name }}! |
            <a href="/logout">Logout</a>
        </p>
        <p>
            <a href="{% url 'userprofiles:profile' user.username %}">
                Go to my profile
            </a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            Enter with Facebook
            </a>
        </p>
    {% endif %}-->
    <header class="home_header">
        <nav>
            <ul class="container">
                <li>
                    <a href="">Crea tu evento </a> |
                </li>
                <li>
                    <a href=""> Regístrate </a> |
                </li>
                <li>
                    <a href=""> Iniciar sesión</a>
                </li>
            </ul>
        </nav>
        <article class="container">
            <h3>Busca tu evento, dona, participa</h3>
            <button type="button">"Busca un evento"</button>
            <button type="button">"Crea un evento"</button>
            </form>
        </article>
    </header>
    <section class=container id="randomp">
        {% for event in events %}
        <article>
            <figure>
                <img src="{{ event.photo }}" alt="">
            </figure>
            <div class="centro">
                <div>
                    <h4>{{event.event.name}}</h4>
                    <p>{{event.event.description}}</p>
                </div>
                <div class="line">
                    <i class="fa fa-map-marker"></i>
                    <h5>{{event.event.location_name}} {{event.event.location_city}}</h5>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">{{event.event.progress}}</span>
                    </div>
                </div>
                <div>
                    <div></div>
                </div>
                <div class="line">
                    <div>
                        <h5>{{event.event.progress}}</h5>
                        <h6>Recaudado</h6>
                    </div>
                    <div>
                        <h5>{{event.event.goal}}</h5>
                        <h6>Meta</h6>
                    </div>
                    <div>
                        <h5>{{event.event.end_date}}</h5>
                        <h6>Días restantes</h6>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    <section id="bestparties">
        <div class="container"id="wraper">
            <h2>ASÍ SE VEN LOS EVENTOS EN <span>PARTY EVENTS</span></h2>
            {% for top_score in top_scores %}
            <article>
                <figure>
                    <img src="{{ top_score.photo }}" alt="">
                </figure>
                <div class="centro">
                    <h4>{{ event.event.name }}</h4>
                    <p>{{ event.event.description }}</p>
                    <div class=line>
                        <div>
                            <h5>Ranking del evento</h5>
                            <div class=line>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div>
                        </div>
                        <div>
                            <h5>Organizadores</h5>
                            <h6>{{ event.event.organizers }}</h6>
                        </div>
                        <div>
                            <a href="">ver más fotos</a>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
            <article>
                <figure>
                    <img src="{{ top_score.photo }}" alt="">
                </figure>
                <div class="centro">
                    <h4>Poll Party, Miguel</h4>
                    <p>En esta fiesta Miguel se puso bien loco y nadie lo podía parar, se desvistió y se lanzó a la alberca</p>
                    <div class=line>
                        <div>
                            <h5>Ranking del evento</h5>
                            <div class=line>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div>
                        </div>
                        <div>
                            <h5>Organizadores</h5>
                            <h6>Miguel Nava</h6>
                        </div>
                        <div>
                            <a href="">ver más fotos</a>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>
    <footer>

    </footer>
{% endblock %}
