{% extends "base.html" %}

{% block title %}Event Starter{% endblock %}
{% load static from staticfiles %}
		
{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	
{% endblock stylesheet %}

{% block body %}

	<header>
		<nav>
            <ul class="container">
                <li>
                    <a href="/crear_evento">Crea tu evento </a> |
                </li>
                <li>
                    <a href="/users"> Regístrate </a> |
                </li>
                <li>
                    <a href="/users"> Iniciar sesión</a>
                </li>
            </ul>
        </nav>
		<figure class="image_header"> <img src="{% static "img/fondo.jpg" %}" alt="imagenfondo"/> </figure>		
	</header>

    <section class=container id="randomp">
        {% for detail in events %}
        <article>
			<figure>
				<img src="{{detail.event_image.url}}">
			</figure>
            <div class="centro">
                <div>
                    <h4>{{detail.name}}</h4>
                    <p>{{detail.description}}</p>
                </div>
                <div class="line">
                    <i class="fa fa-map-marker"></i>
                    <h5>{{detail.location_name}} {{event.event.location_city}}</h5>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow=valuemax
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">{{event.event.progress}}</span>
                    </div>
                </div>
                <div>
                    <div></div>
                </div>
                <div class="line">
                    <div>
                        <h5>Finalizado:</h5>
                        <h5>{{detail.progress}}%</h5>            
                    </div>
                    <div>
                        <h5>Recaudado</h5>
                        <h5>{{detail.goal}}</h5>                        
                    </div>
                    <div>
                        <h5>Fecha del evento</h5>
                        <h5>{{detail.start_date.day}}/{{detail.start_date.month}}/{{detail.start_date.year}}</h5>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
{% endblock %}